#address-search-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  padding: 15px 0px 0 15px;
  height: 70px;
  width: 25%;

  md-card-content {
    padding: 0;

    md-input-container {
      margin: 0px;
    }

    button {
      margin: 0px !important;
    }
  }

  @media screen and (max-width: 456px) {
    width: 95%;
    padding: 8px 8px 0 8px;

    md-input-container {
      height: 40px;

      input {
        height: 40px;
      }
    }
  }

}