{% extends "base.html" %}

{% block content %}
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBU2IhITO_ygNUan5ortuYxJc6idxrsFlE&libraries=geometry,places"></script>
    {% raw %}
    <div id="index-container" ng-controller="indexController as indexCtl">
    {% endraw %}
        <div ng-controller="gmapController as gmapCtl">
            <!-- map canvas dimensions will be computed during map initialization -->
            <div id="map-canvas"></div>

            {% include '/partials/modals/_address_search.html' %}

            <!-- Project List Panel -->
            {% include "partials/_project_list.html" %}

            {% raw %}

            <md-button id="show-project-list-btn" class="md-fab md-accent"
                       ng-click="indexCtl.showList = !indexCtl.showList"
                       ng-hide="indexCtl.showList">
                <md-icon>{{ indexCtl.showList ? 'grid_on' : 'grid_off' }}</md-icon>
            </md-button>

            <md-button id="save-location-btn" class="md-fab md-primary"
                ng-click="gmapCtl.saveLocation($event)"
                ng-show="gmapCtl.showSaveLocationBtn">
                <md-icon>save</md-icon>
            </md-button>

            <md-fab-speed-dial md-direction="up" md-open="isOpen" class="md-scale md-fab-bottom-right">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary" style="margin:0;">
                        <md-icon>add</md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="Current Location" class="md-fab md-raised md-mini"
                               ng-click="gmapCtl.getCurrentLocation()">
                        <md-icon aria-label="Current Location">my_location</md-icon>
                    </md-button>
                    <md-button aria-label="Search Location" class="md-fab md-raised md-mini"
                               ng-click="gmapCtl.showAddressSearch()">
                        <md-icon aria-label="Search Location">search</md-icon>
                    </md-button>
                    <md-button aria-label="Point to Location" class="md-fab md-raised md-mini"
                               ng-click="gmapCtl.dropLocation()">
                        <md-icon aria-label="Point to Location">place</md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>

            {% endraw %}

        </div>
    {% raw %}
    </div>
    {% endraw %}

    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}